# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build output
bin/
obj/

# NuGet
packages/

# Logs
*.log

# Archives
*.7z
*.zip
*.rar

# OS files
Thumbs.db
Desktop.ini

# Rider
.idea/

# ReSharper
_ReSharper*/
*.DotSettings.user